
.iro-purses-my.max-width
  .header
    %h2.title
      My purse value: $#{@purse.current_value}

  .positions
    %h3 Positions (#{@positions.length})

    %table.bordered
      %thead
        %tr
          %td Ticker
      %tbody
        - @positions.each do |p|
          %tr
            %td= p.ticker
