[Unit]
Description=watch stocks

[Service]
Type=forking
WorkingDirectory=/home/ubuntu/projects/microsites3/current
ExecStart=/usr/bin/bundle exec rake ish_manager:watch_stocks
ExecStop=/bin/echo nothing
Restart=on-failure
Environment=RAILS_ENV=production

[Install]
WantedBy=multi-user.target
