
= form_tag leads_import_path, multipart: true do
  .doc
    %ul
      %li v1 fields: id, date, name, email, company url, source tag, phone, linkedin, comment
  .field
    %label File
    = file_field_tag :csv_file

  -# .field
  -#   %label Leadset
  -#   = select_tag :leadset_id, options_for_select(@leadsets_list), class: 'select2'

  .field
    %label Campaign
    = select_tag :email_campaign_id, options_for_select(@email_campaigns_list), class: 'select2'

  .actions
    = submit_tag 'Submit'
