- from_city = from_city
%ol
  - venues.each do |venue|
    %li
      = link_to '[~]', edit_venue_path( venue,from_city: from_city )
      = button_to '[x]', venue_path( venue,from_city: from_city ), :method => 'delete', :data => { :confirm => 'Are you sure?' }
      = link_to venue.name, venue_path( venue,from_city: from_city )
      %br
      %br
      .clearfix
