%ol
  - venues.each do |venue|
    %li
      = link_to image_edit, edit_venue_path(venue)
      .float-left= button_to '[x]', venue_path(venue), :method => 'delete', :data => { :confirm => 'Are you sure?' }
      = link_to venue.name, venue_path(venue)
      %br
      %br
      .clearfix
