= form_tag city_path(city), :method => :get, :class => :search do
  .field.search_words
    .hide [x]
    = text_field_tag 'venue_searchq', nil, :placeholder => 'Search'
  .actions.hide
    = submit_tag 'Search'
  .c
