
*~
\#*
.#*

.bundle/
.byebug_history

.DS_Store

ish_manager-*.gem

log/*.log

node_modules

pkg/

*.swp

test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/.env*
test/dummy/log/*.log
test/dummy/node_modules/
test/dummy/public/assets
test/dummy/tmp/
test/dummy/spec/factories/ish_models_factories.rb
test/dummy/vendor
*trash

vendor/bundle
