
<div class="" style="" >
  <!-- <iframe width="430" height="322" src="<%= video.video.url %>" frameborder="0" allowfullscreen></iframe> -->
  <iframe width="640" height="480" src="<%= video.video.url %>" frameborder="0" allowfullscreen></iframe>
  <!-- <iframe src="<%= video.video.url %>" frameborder="0" allowfullscreen></iframe> -->
</div>
