
.unsubscribes-index.maxwidth
  %h5 Unsubscribes

  %table.bordered.data-table
    %thead
      %tr
        %td Lead
        %td Date
        %td campaign_id
        %td template_id


    - @unsubscribes.each do |i|
      %tr
        %td= @leads_h[i.lead_id]
        %td= i.unsubscribed_at
        %td= i.campaign
        %td= i.template

