
.row
  .col-md-6
    %h1 Categories
    = render 'ish_manager/categories/subtree', subtree: @categories_flat, config: { parent_id: nil, parent_ids: @categories_flat.map { |c| c[5] }.uniq }

  .col-md-6
    %h1 Tags
    %ul
      - @tags.each do |tag|
        %li= tag[:name]
