
.container
  %br
  .row
    .col-sm-6
      - if defined?( current_user ) && current_user
        >[ #{current_user.email} ]<
        = button_to '[x]', main_app.destroy_user_session_path, :method => :delete
      - else
        Please log in
        = link_to '[+]', main_app.new_user_session_path

    .col-sm-6
      %br
      \~__^
      %br
      %br
      %br
      %br
      %br
