
.application-home
  Welcome home

  .bordered-card
    = form_tag "https://www.cgtrader.com/free-3d-models", method: :get do
      %p Search CGTrader:
      = hidden_field_tag "polygons", "lt_5k"
      = text_field_tag "keywords"
      = submit_tag 'search'
