
-# ish_manager / sites / galleries
  
- content_for :title do
  Manager Galleries Index

- content_for :menu do
  - # nothing

= render 'ish_manager/sites/header', :site => @site if @site

.container
  .row
    .col.s12
      %h4
        Galleries (#{@galleries.count})
        = link_to image_new, new_gallery_path
      = render 'ish_manager/galleries/index', :galleries => @galleries, :param_name => :galleries_page
      
