
<%= raw ERB.new( @ctx.body ).result %>

<br /><br />
<table class="footer-signature" border="0" >
  <tr>
    <td>
      --<br />
      Victor Pudeyev<br />
      Software Engineering Lead<br />
      <a href="mailto:victor@piousbox.com">victor@piousbox.com</a>
      |
      <a href="https://wasya.co/contact-us-4?<%= @utm_tracking_str %>">Book a chat</a><br />
