
- n_thumbs   ||= 8
- param_name ||= :galleries_page

- if galleries.length > 0
  .galleries--list
    - galleries.each do |g|
      %h5
        = link_to '[~]', edit_gallery_path( g )
        = link_to g.name, gallery_path(g.galleryname)
    .c

    - if galleries.respond_to? :total_pages
      = paginate galleries, :param_name => param_name
    
- else
  %p No Galleries
