

.row.menu-secondary
  .large-12.columns.tags
    Tags
    %ul.inline-list
      - @tags.each do |tag|
        %li
          = link_to tag.name, manager_tag_path(tag)
          (#{tag.galleries.length})

  .c
      
