= form_tag galleries_path, :method => :get, :class => :search do
  .field.search_words
    .hide [x]
    = text_field_tag 'keywords', nil, :placeholder => 'Search'
  .actions.hide
    = submit_tag 'Search'
  .c
