
- #
- # ish_manager / galleries / _thumbs
- #

%hr
.row
  - gallery.photos.each do |photo|
    .col-xs-6.col-sm-6.col-md-4.col-lg-2
      %br
      = button_to '[x]', photo_path( photo ), :method => :delete, :data => { :confirm => 'Are you sure?' }
      .thumb= image_tag( photo.photo.url( :thumb ), :alt => '' )
%hr
