
- content_for :title do
  Manager Galleries Index

- content_for :menu do
  - # nothing

.container
  .row
    .col-sm-6
      %h4
        = t('galleries.list')
        = link_to '[+]', new_gallery_path
    .col-sm-6= render 'search'
  .row
    .col-sm-12
      -# = render 'ish_manager/galleries/menu_secondary'
      = render 'ish_manager/galleries/list', :galleries => @galleries
