<html>
<head>
</head>
<body>
<h1>Hello,</h1>
<p>This gallery has been newly shared with you on pi manager: <a href="<%="#{@domain}#{@gallery_path}"%>"><%= @gallery.name %></a>.</p>
<p>Also see all your <a href="<%= "#{@domain}#{@galleries_path}" %>">shared galleries.</a></p>
</body>
</html>
