
- content_for :title do
  Tags

.manager-tags--index
  .panel
    .panel-body
      .center
        %h1 Tags (#{tags.count})


      %ul.tags
        - @tags.each do |tag|
          = render 'ish_manager/tags/item', :tag => tag
        - if @tags.blank?
          %li No Tags
      %hr


