
- content_for :title do
  = t('tags.list')

.row
  .small-12.columns
    .center
      %h1
        Tags (#{Tag.count})
        = link_to '[+]', new_tag_path
  
    %ul.tags
      - @tags.each do |tag|
        = render 'item', :tag => tag
      - if @tags.blank?
        %li No Tags



