/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * alphabetized : )
 *
 *= require_self
 *
 ** Utils
 ** Newsitems
 ** Reports
 *
 *= require ish_manager/galleries
 *= require ish_manager/jquery-ui
 *= require ish_manager/maps
 *= require ish_manager/leads
 *= require ish_manager/photos
 *= require ish_manager/tags
 *= require ish_manager/user_profiles
 *= require ish_manager/videos
 */



/*
 * Utils
**/

body {
  background: #dedede;
  font-size: 20px;
}

pre {
  background: #e0e0e0;
  padding: 1em;
}

ul:not(.browser-default).errors,
ul:not(.browser-default).bullets, {
  > li {
    list-style-type: circle;
    margin-left: 1em;
  }
}

.-index {
  .item {
    margin-bottom: 3em;
  }

  /* clear nth! */
  .row div:nth-child(2n+1) {
    clear:left
  }

  .row h3 {
    margin-bottom: 0;
  }
}




/* A */

.addToggle::after {
  content: " [<>]";
}
.addToggle {
  + * {
    display: none;
  }
}
.alert {
  border: 1px solid red;
  padding: .8em;
}

/* B */

.bg-white {
  background: url('/assets/bg/confectionary.png');
  padding-bottom: 1em;
}

.blue {
  background: #5bc0de;
  color: white;
}

.border-red {
  border: 1px solid red;
  padding: 1em;
}

.bordered {
  border: 1px solid grey;
  padding: .5em;
  border-radius: 8px;
  margin-bottom: .5em;
  padding: 0.5em;
}


/* C */

.Card {
  border: 1px solid gray;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: .5em;
}

.center {
  text-align: center;
}

.clearfix {
  clear: both;
}

.collapse-expand {
  cursor: pointer;
}
#collapseFooter {
  float: left;
}

/* D */
/* E */
.error_explanation {
  border: 1px solid red;
  padding: .8em;
}

/* F */

.--form {
  margin-bottom: 2em;
}

.flat-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;

  height: 2.4em;
  line-height: 3em;

  width: 100%;
  margin: 1em 0 0 0;
  padding: 0;

  > * {
    padding-right: 1em;
  }
}


.flex-row {
  display: flex;
  flex-wrap: wrap; /* @TODO: why does it wrap? in ish_manager/show , I'd prefer it didn't. */
}

.float-left {
  float: left;
  padding-right: 1em;
}
.float-right {
  float: right;
}
hr {
  background: red;
  height: 1px !important;
}

/* I */
img .img-400 {
  width: 400px;
}

.inline,
.inline-block {
  display: inline-block;
}
ul.inline li {
  display: inline;
}
.inline-search {
  width: 20px;
  bordeR: 1px solid white;
  display: inline-block;
}

/* L */
textarea.large {
  height: 400px;
}

.large-photos img {
  width: 100%;
}

/* M */


.manager--main-header {
  background: url('/assets/bg/weather.png');

  a {
    background: white;
    padding: .2em;
  }

  hr {
    margin-top: 0;
  }

  ul {
    li {
      display: inline;
      padding: 1em;
    }
  }

}


.manager--main-header.development,
.manager--main-header.development_production {
  background: url('/assets/bg/weather-development.png');
}

.manager-galleries--index .mini {
  float: left;
}

.manager-sites--title {
  padding: 1em;
  background: url('/assets/bg/weather.png');
  border-bottom: 1px solid red;
}

.menu-secondary li {
  display: inline;
}
.menu-secondary li a {
  padding: 1rem;
  background: white;
}
.meta-edit {
  display: inline;
}

/* N */

.notice {
  border: 1px solid green;
  padding: .8em;
}

/* P */
.panel-content {
  padding: .5em;
}

/* S */
.small {
  font-size: .8em;
}

.thumb {
  background: dedede;
  border: 1px solid red;
  width: 100px;
  height: 100px;
}
ul.inline li {
  padding-right: 1em;
}



.youtube_img {
  width: 100px;
}


/* R */
.red-border {
  border: 1px solid red;
  padding: .2em;
}

/* S */
.select2-container {
  max-width: 100%;
  display: block;
}

/* T */

/* U */

/* V */

/* W */

/*
 * Newsitems
**/
.newsitems--item {
  border: 1px solid green;
  padding: 5px;
}

.menu-secondary li.active a {
  border-bottom: 5px solid black;
}


/**
 * Reports
**/
 .descr,
 .description {
   border: 1px solid red;
   padding: 1em;
   font-size: 1.6em;
 }
