/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require ish_manager/bootstrap
 *= require_self
 */


/**
 * utils
 */
.bg-white {
  background: url('/assets/bg/confectionary.png');
  padding-bottom: 1em;
}

body {
  background: #dedede;
}

.center {
  text-align: center;
}

.inline {
  display: inline-block;
}

.notice {
  border: 1px solid green;
  padding: .8em;
}
.alert {
  boroder: 1px solid yellow;
  padding: .8em;
}

hr {
  background: red;
  height: 1px;
}

.thumb {
  background: dedede;
  border: 1px solid red;
  width: 100px;
  height: 100px;
}  
.large-photos img {
  width: 100%;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix {
  clear: both;
}
.blue {
  background: #5bc0de;
  color: white;
}

.manager--main-header {
  background: url('/assets/bg/weather.png');
}

.manager-galleries--index .mini {
  float: left;
}

.manager-sites--title {
  padding: 1em .2em;
  background: url('/assets/bg/triangular.png');
}

/**
 * pagination
 */

/* nav.pagination {
  padding-left: 1em;
  background: transparent;
}
nav.pagination
*/

/**
 * reports
 */
.descr,
.description {
  border: 1px solid red;
  padding: 1em;
}
.descr .float-left {
  padding-right: 1em;
}

/**
 * tags
 */
ul.tags ul.tags {
  margin-left: 2em;
}

/**
 * ally
 */
.price {
  /* margin-left: 1em; */
}
.descriptive {
  line-height: 2em;
}
.price::before {
  content: "$";
  position: absolute;
  top: 1em;
  left: 0;
}
