

.email-contexts-new {
  .actions {
    display: flex;
    justify-content: space-between;
  }
}

.email-contexts-show,
.email-templates-show {

  iframe {
    min-height: 80vh;
  }

}

.email-templates-index ul li,
.email-contexts-index .header,
.email-contexts-index ul.main li {

   a {
    margin-right: 0.5em;

    &::before {
      content: "[";
    }

    &::after {
      content: "]";
    }
  }

}


.email-templates--form {
  border: 1px solid red;
  padding: 1em;

  form {
    display: flex;

    > * {
      padding-right: 20px;
    }
  }

}
