

.email-actions-edit,
.email-actions-index,
.email-filters-index,
.email-templates-edit,
.email-templates-new,
.email-templates-show,
.email-contexts-edit,
.email-contexts-show,
.emails-ns, // emails namespace
.leads-edit,
.leads-index,
.leads-show,
.scheduled-emails-index {
  .header {
    display: flex;
    justify-content: center;
  }
}


.form-mini {

  display: inline-block;

  // display: flex;
  // flex-direction: column;

  // max-width: 400px; // @TODO: where is this used?!

  margin-left: 20px;

  border: 1px solid #666;
  border-radius: 5px;
  padding: 5px;
  background: #eee;

  * {
    display: inline;
  }

  .header {
    display: block;
  }
}

