
.large-photos .item {
  border: 1px solid red;
  display: block;

  padding: 10px;
  margin: 10px;

  height: 100vh;
  max-width: 100vw;
}

.large-photos .item .wrapper {
}

.large-photos .item .wrapper img {
  max-height: 100%;
}
