
.iro-purses-show {
  font-size: 14px;

  table {
    .id {
      width: 20px;
    }
    .strategy {
      width: 30px;
    }

    thead {
      position: relative;
      height: 50px;


      .id,
      .ticker,
      .days-left,
      .to-close,
      .must-roll {
        top: 0;
      }

      .price {
        background: cyan;
      }

      td > div {
        // border: 1px solid green;

        position: absolute;
      }
    }


    td {
      padding: 0 .5em;
    }

    tbody {
      .begin-delta {
        min-width: 20px;
      }
      .must-roll,
      .next-symbol {
        text-align: center;
      }

      .must-roll,
      .should-roll,
      .next-symbol {
        background: #eee;
      }

      .net,
      .netp {
        font-weight: bold;
        text-align: right;
      }

      .should-roll > .aC {
        display: flex;
        justify-content: space-between;
      }
    }
  }


  .q {
    font-weight: bold;
  }

  .strategies {

    display: flex;
    flex-wrap: wrap;
  }

}
.iro-strategies-edit,
.iro-strategies-new {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.iro-strategies--form {
  border: 1px solid blue;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-right: .5em;

  .field {
    display: flex;
    justify-content: space-between;
  }
}