

.leads-list {
  margin: 1em 0;

  .item {
    /* display-block in email-conversations-show */
    // display: inline;

    border: 1px solid green;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0 0.5em 0.5em 0;

  }
}

// .manager-leads-index {
//   th.company-url {
//     width: 10px;
//   }
//   th.created-at,
//   td.created-at {
//     width: 200px;
//   }
// }
