/**
 * utils first
 */
.red-cross {
  position: absolute;
}

/*
 * Main - Maps
 */
.maps--map-meta-row .a {
  line-height: 1em;
}

.maps-index {
  h1 {
    padding-bottom: 10px;
    border-bottom: 10px solid #cecece;
  }
  .item {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    margin-top: 10px;
    border-top: 2px solid #cecece;

    input[type='submit'] {
      font-size: 1.1em;
      padding: 0.3em;
    }

    .row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-content: flex-start;

      height: 3em;
      line-height: 3em;

      width: 100%;
      margin: 0 0 1em 0;
      padding: 0;

      > * {
        padding-right: 1em;
      }
    }
  }
}

.maps-show {
  .the-map {
    position: relative;

    .marker {
      border: 1px solid yellow;
    }
  }
  .markers-list {
    .item {
      border: 1px solid #d59d05; /* brown*/
      padding: .5em;
      margin: 1em 0 0 0;
    }
  }
}

.markers--form {
  .image-thumb {
    border: 1px solid yellow;
    position: relative;
    display: inline-block;


  }
}

.maps-map-editor {
  .map-editor {
    border: 1px solid red;
    position: relative;

    .marker {
      position: absolute;
      top: 0;
      left: 0;

      border: 1px solid yellow;
    }
  }
  .markers-list {
    .item {
      border: 1px solid green;
    }
  }
}
