
.bordered-field {
  display: inline-block;

  border: 1px solid gray;
  border-radius: 6px;

  padding: 6px 12px;

  label {
    margin-bottom: 0;
  }

  select {
    padding: 6px;
  }

}

.input-field.input-outlined {
  > input,
  > .select-wrapper > input {
    border: 2px solid #999;
    padding: 12px 16px 14px;
    width: calc(100% - 2.5rem);
    float: none;
    display: block;
    border-radius: 4px;
    transition: box-shadow, border-color 0.15s;
    &:focus:not([readonly]) {
      border-color: #26A69B;
      box-shadow: 0 1px 0 0px #26A69B;
    }
  }
  > label {
    left: 27px;
    display: inline-flex;
    width: auto !important;
    &.active {
      background: white;
      border-left: 4px solid white;
      border-right: 4px solid white;
      transform: translateY(-1.75rem);
      top: 1rem;
    }
  }
}

.inline {
  display: inline-block;
}

.office-actions--form {

  textarea {
    width: 400px;
    height: 200px;
  }

}