
.scheduled-email-actions--form {
  min-width: 300px;
}

.scheduled-emails-new {


  border: 1px solid red;
  border-radius: .5em;
  padding: .5em;
  background: white;

  form {
    display: flex;
    align-items: flex-end;
  }

}

.scheduled-actions--form-mini {
  display: inline-block;
  background: #ccc;

  form {
    border: 1px solid blue;

    display: flex;
  }
}
