
.scheduled-emails-new {
  border: 1px solid red;
  border-radius: .5em;
  padding: .5em;
  background: white;

  form {
    display: flex;
    align-items: flex-end;
  }

}

.form-mini {
  border: 1px solid blue;
  background: #ccc;

  display: inline-block;
}

.scheduled-email-actions--form {
  .actions {
    display: flex;
    justify-content: flex-end;
    padding-top: .5em;
  }

  .flex-row {
    justify-content: space-between;
  }
}
