
ul:not(.browser-default).errors,
ul:not(.browser-default).bullets, {
  > li {
    list-style-type: circle;
    margin-left: 1em;
  }
}

.flat-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;

  height: 3em;
  line-height: 3em; 

  width: 100%;
  margin: 0 0 1em 0;
  padding: 0;

  > * {
    padding-right: 1em;
  }
}