-#
-# ish_manager / newsitems / _index
-#

- newsitems = newsitems.page( params[:newsitems_page] ).per( 10 )

.manager-newsitems--index
  = paginate newsitems, :param_name => :newsitems_page, :views_prefix => 'ish_manager'
  - newsitems.each do |n|
    = render 'ish_manager/newsitems/item', :newsitem => n

  = paginate newsitems, :param_name => :newsitems_page, :views_prefix => 'ish_manager'

