
.wco-leadsets--form
  = form_for wco_leadset do |f|
    .field
      %label name
      = f.text_field :name
    .field
      %label domains, space-separated
      = f.text_field :domains

    .actions
      = f.submit 'Submit'
