
%ul
  - galleries.each do |gallery|
    %li
      = link_to '[~]', edit_gallery_path( gallery )
      = link_to gallery.name, gallery_path( gallery )
      %br
      \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      N photos: #{gallery.photos.length}
