
%h4 CoTailors Home
%h5 Products
= render 'ish_manager/co_tailors/product_form', :product => CoTailors::Product.new
%hr

%ul
  - @products.each do |product|
    %li
      = render 'ish_manager/co_tailors/product_form', :product => product
      %hr
  
