-#
-# ish_manager / user_profiles / index
-#

%h5
  User Profiles (#{@user_profiles.count})
  = link_to '[+]', new_user_profile_path

%ul.browser-default
  - @user_profiles.each do |profile|
    %li
      = link_to '[~]', edit_user_profile_path(profile)
      = link_to profile.email, user_profile_path(profile)

