
.user-profiles--show
  %ul
    %li
      User profile: #{@user_profile.inspect}
    %li
      Purchased Items:
      %ul
        - @user_profile.premium_purchases.each do |purchase|
          %li
            = purchase.item_type.constantize.find(purchase.item_id).inspect
            -## this doesn't work b/c an unlocked map has no city.
            -# = render 'ish_manager/reports/show_mini', report: purchase.item_type.constantize.find(purchase.item_id)


